.main-footer{
	background-color: #E3CF6D;
	display: flex;
	border-radius: 5px;
	justify-content: center;
	padding-bottom: 30px;
}


.col{
	float: left;
	text-align: center;
	font-size: 11px;
	padding-right: 5px;

}
.col-sm{
	display: flex;
	justify-content: center;
	padding-left: 3px;
	padding-top: 10px;
	font-size: 10px;
	bottom: 0;
}


input{
	opacity: 100%;
	background-color: #D1BB4B;
	border-radius: 5px;
}
#userEmail{
	width: 100px;
}
#signUpButton{
	float: right;
	height: 20px;
}

li {
	padding: 5px;
}

ul{
	font-size: 5;
}

h3 {
	font-family: sans-serif;

}