body {
	background-color: #D1BB4B;
	padding: 20px;
	margin: 0;
}

h1, h2, p, ul{
	font-family: sans-serif;
}

.white-border{
  background-color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.5);
}

/*page-block controls the background block behind page contents*/
.page-block{
  display: block;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  height: 650px;
  background-color: rgba(209,187,75,1); /* 0.1 alpha = 10% opacity*/
}

h1 {
  background-color: #E3CF6D;
	width: 300px;
  border-radius: 25px;
  border: 5px solid rgba(255,255,255,0.5);
	padding: 15px;
	margin: 20px;
}

/*Navbar*/
ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #E3CF6D;
}

/*Elements of navbar*/
li {
  border-radius: 5px;
  float: left;
  border-right: 1px solid #D1BB4B; 
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

p {
  font-size: 18px;
	margin: 0;
}

p1 {
  font-family: sans-serif;
}

p2 {
  padding-top: 10px;
  font-family: sans-serif;

}

.page-body{
  padding-left: 5px;
  padding-right: 5px;
}

.content {
  border-radius: 5px;
  background-color: #E3CF6D;
  opacity: 1;
  padding-bottom: 3px
}

.page-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap{
  flex: 1;
}
