body {
	background-color: #D1BB4B;
	padding: 20px;
	margin: 0;
}

h1, h2, p, ul{
	font-family: sans-serif;
}

h1 {
  background-color: #E3CF6D;
	width: 300px;
  border-radius: 25px;
	padding: 20px;
	margin: 20px;
}

/*Navbar*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  background-color: #E3CF6D;
}

/*Elements of navbar*/
li {
  border-radius: 5px;
  float: left;
  border-right: 1px solid #D1BB4B; 
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

p {
  font-size: 20px;
	margin: 0;
}

p1 {
  padding-left: 0px;
  font-family: sans-serif;
}

p2 {
  padding-top: 10px;
  font-family: sans-serif;

}

div {
  padding-left: 5px;
}

.content {
  border-radius: 5px;
  background-color: #E3CF6D;
}
